/* footer */
.dato{
    padding-left: 20px;
}
/* footer */
.icono{
    display: flex;
    margin-left: 15px;
}
/* footer */
#contactenosTexto{
    display: flex;
    justify-content: flex-start;
    margin-right: 15px;
}
.fondo-footer{

    height: 80px;
    margin-top: 40px;
} 

