/* nav */
.titulo-general  {
    
    font-size: 1rem;
    
    padding-bottom: 5px;
}





 /* nav */
.imagen-logo{
    
    width: 90px;
    height: 75px;
}

.background-nav{

    /* background-color: rgb(68, 160, 114); */
    background-color: aqua;
} 
.borde{
    border: 1px solid black;
    border-radius: 10px;
}

